@model web.Models.Gonitev

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Gonitev</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumGonitve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumGonitve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ovca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ovca.OvcaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.oven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.oven.OvenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredvidenaKotitev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredvidenaKotitev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opombe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opombe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GonitevID">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
