@model web.Models.Oven

@{
    ViewData["Title"] = "Odstrani ovna";
}

<h1>Odstrani</h1>

<h3>Ali ste prepričani, da želite odstraniti ovna?</h3>
<div>
    <h4>Oven</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creda.CredeID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRojstva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRojstva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pasma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pasma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mamaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.oceID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteviloSorojencev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteviloSorojencev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opombe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opombe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poreklo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poreklo)
        </dd>
    </dl>
    
    <form asp-action="MoveTo0">
        <input type="hidden" asp-for="OvenID" />
        <input type="submit" value="Odstrani" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
