@{
    ViewData["Title"] = "Domača stran";
}

<div class="text-center">
    <h1 class="display-3">Dobrodošli v aplikaciji eShepherd</h1>
    <p>Aplikacija je namenjena rejcem ovac za lažje vodenje evidence.</p>

<div class="card-deck">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title" style = "color:white" >
               <b> <a asp-controller="Kotitve" asp-action="Create" style="color:black">Dodaj kotitev</a></b>
            </h4>
        </div>
        <a href="@Url.Action("Create", "Kotitve") ">
            <img src="https://turtlesport191137813.files.wordpress.com/2020/12/kotitev.png" alt="" style="max-height: 230px; max-width: 210px; margin-top: 20px" />
        </a>
    </div>
    <div class="card">
        <div class="card-block">
             <h4 class="card-title" style = "color:white" >
               <b> <a asp-controller="Gonitve" asp-action="Create" style="color:black">Dodaj gonitev</a></b>
            </h4>
        </div>
        <a href="@Url.Action("Create", "Gonitve")">
            <img src="https://turtlesport191137813.files.wordpress.com/2020/12/gonitev-1.png" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>

    <div class="card">
        <div class="card-block">
           <h4 class="card-title" style = "color:white" >
               <b> <a asp-controller="Ovce" asp-action="Create" style="color:black">Dodaj ovco</a></b>
            </h4>
        </div>
        <a href="@Url.Action("Create", "Ovce")">
            <img src="https://turtlesport191137813.files.wordpress.com/2020/12/ovca.png" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>

    <div class="card">
        <div class="card-block">
             <h4 class="card-title" style = "color:white" >
               <b> <a asp-controller="Crede" asp-action="Create" style="color:black">Dodaj čredo</a></b>
            </h4>
        </div>
       <a href="@Url.Action("Create", "Crede")">
            <img src="https://turtlesport191137813.files.wordpress.com/2020/12/creda.png" alt="" style="max-height: 200px; max-width: 200px; margin-top: 20px" />
        </a>
    </div>
    <div class="card">
        <div class="card-block">
             <h4 class="card-title" style = "color:white" >
               <b> <a asp-controller="Ovni" asp-action="Create" style="color:black">Dodaj ovna</a></b>
            </h4>
        </div>
        <a href="@Url.Action("Create", "Ovni")">
            <img src="https://turtlesport191137813.files.wordpress.com/2020/12/oven.png" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>
</div>







