@model web.Models.Creda

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Čreda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteviloOvc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteviloOvc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opombe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opombe)
        </dd>
    </dl>
    <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeznamOvac)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>ID ovce</th>
                </tr>
                @foreach (var item in Model.SeznamOvac)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OvcaID)
                        </td>
                    </tr>
                }
            </table>
        </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CredeID">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
