@model web.Models.eShepherdViewModels.CredeIndexData

@{
    ViewData["Title"] = "Čreda";
}

<h1>Čreda</h1>

<p>
    <a asp-action="Create">Dodaj novo čredo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Številka črede
            </th>
            <th>
                Število ovc v čredi
            </th>
            <th>
                Opombe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Crede) {
    if(item.CredeID == "0"){
        continue;
    }
        <tr>
            <td><b>
                @Html.DisplayFor(modelItem => item.CredeID)
            </b></td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloOvc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opombe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CredeID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.CredeID">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.CredeID">Odstrani</a> |
                <a asp-action="Index" asp-route-credaID="@item.CredeID">Prikaži ovce</a>

            </td>
        </tr>
}
    </tbody>
</table>

@if(Model.Ovce != null){
    <table class="table">
        <tr>
            <th>ID ovce</th>
        </tr>
        @foreach (var item in Model.Ovce)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OvcaID)
                </td>
                
            </tr>
        }
    </table>
}