@model web.Models.Jagenjcek

@{
    ViewData["Title"] = "Odstrani";
}

<h1>Odstrani</h1>

<h3>Ali ste prepri훾ani, da 탑elite odstraniti jagenj훾ka?</h3>
<div>
    <h4>Jagenj훾ek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJagenjcka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJagenjcka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kotitev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kotitev.kotitevID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="skritIdJagenjcka" />
        <input type="submit" value="Odstrani" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
